---
import { getCollection } from 'astro:content';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rudder</title>
	</head>
	<body class="bg-[#23265D]">
		<div class="container mx-auto max-w-4xl my-12 px-4 lg:px-0">
			<div class="mb-12 lg:mb-24">
				<a href="/">
					<img src="/logo.svg" alt="Rudder" class="h-16" />
				</a>
			</div>
			<h1 class="text-4xl lg:text-8xl font-black text-[#fff]">We create <strong class="text-[#00AFA6]">simple</strong> solutions to your <strong class="text-[#00AFA6]">modern</strong> problems.</h1>
			<div class="text-3xl lg:text-6xl mt-12 lg:mt-24 font-bold">
				<div class="text-[#fff] mb-6 lg:mb-12">
					We have delivered amazing projects for great organizations.
				</div>
				<div class="leading-normal flex flex-col items-start">
					<a class="underline text-[#00AFA6] hover:text-white" href="https://new.mta.info">MTA.</a>
					<a class="underline text-[#00AFA6] hover:text-white" href="https://fivetran.com">Fivetran.</a>
					<a class="underline text-[#00AFA6] hover:text-white" href="https://kindrun.com">KindRun.</a>
					<a class="underline text-[#00AFA6] hover:text-white" href="https://johnhancock.com">John Hancock.</a>
				</div>
			</div>
			<div class="text-3xl lg:text-6xl mt-12 lg:mt-24 font-bold">
				<div class="text-[#fff] mb-6 lg:mb-12">
					We love to share our thoughts on building great products.
				</div>
				<div class="leading-normal flex flex-col items-start">
					{(await getCollection('thoughts')).map(thought => (
						<a class="underline text-[#00AFA6] hover:text-white" href={`/thoughts/${thought.slug}`}>{thought.data.title}.</a>
					))}
				</div>
			</div>
			<div class="text-3xl lg:text-6xl mt-12 lg:mt-24 font-bold">
				<div class="text-[#fff] mb-6 lg:mb-12">
					Get in touch with us to talk about how we can work together to build something great.
				</div>
				<div class="leading-normal flex flex-col items-start">
					<a class="underline text-[#00AFA6] hover:text-white" href="mailto:hello@wearerudder.com">Email us</a>
				</div>
			</div>
			<div class="text-2xl mt-12 lg:mt-24 font-bold">
				<div class="text-[#fff] mb-12">&copy; 2024 Rudder LLC</div>
			</div>
		</div>
	</body>
</html>
